@{
    ViewData["Title"] = "Assistente pessoal para cozinhados domésticos";
    ViewData["Message"] = "Contexto da aplicação";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>“MyChef”, um assistente de cozinha, é a solução encontrada pela nossa equipa para que o público possa replicar os cozinhados que os chefs reproduzem e também publicar fotos dos pratos “MadeAtHome” nas redes sociais identificando o programa. Com este software permite assim ao cliente ter mais controlo sobre a confecção das receitas e uma melhor assistência na sua realização, deixando assim o cliente mais seguro.</p>
