@{
    ViewData["Title"] = "Contactos dos developers";
    ViewData["Message"] = "E-mails:";
}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


<address>
    <strong>Nuno Campos</strong> a67682@alunos.uminho.pt<br />
   
</address>
